html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */
.progressBar{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px;
}
.progressBar::before,
.progress{
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #dcdcdc;
  height: 4px;
  width: 100%;
  z-index: -1;
}
/* .progress{
background-color: rgb(224, 94, 7);  
width: 100%;
transition: 0.5s;
} */

/* .progressBarStep{
  width: 60px;
  height: 60px;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
/* .progressBarStep::after{
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 0.85rem;
} */
/* .progressStepActive{
  background-color: rgb(243, 161, 8);
  
}

.active{
  color: white;
}  */